/* Disable WP functions */
// Disable visibility selection from ckan posttypes
.post-type-ckan-local-dataset,
.post-type-ckan-local-group,
.post-type-ckan-local-org,
.post-type-ckan-local-harvester {
  .submitbox {
    // hide preview button and visibility settings
    #visibility, #preview-action {
      display: none;
    }
  }
}
.post-type-ckan-local-group,
.post-type-ckan-local-org,
.post-type-ckan-local-harvester {
  // hide publishing settings
  #minor-publishing {
    display: none;
  }
  #edit-slug-box {
    display: none;
  }

  &.can_edit_data_of_all_organisations {
    #edit-slug-box {
      display: block;
    }
  }
}

.post-type-ckan-local-harvester {
  #view-post-btn {
    display: none;
  }
}

/* CMB2 style changes */
.cmb2-wrap {
  input.regular-text,
  input.cmb2-text-medium,
  textarea {
    width: 100% !important;
  }
  .original_identifier {
    width: 50%;
  }
  textarea.cmb2-textarea-code {
    font-family: "Open Sans", sans-serif !important;
    line-height: 1.4 !important;
  }
  .cmb-type-title {
    border-bottom: 0 !important;
    padding-bottom: 0 !important;
    padding-top: 2em !important
  }

  // Change style of titles
  .cmb2-metabox-title {
    font-size: 20px !important
  }
}
// Change style of group titles
#poststuff .cmb-repeatable-group h2 {
  font-size: 14px;
  font-weight: 600;
}
.cmb-th .cmb2-metabox-description {
  font-weight: normal;
}

// Change style of checkbox description in side box
#cmb2-metabox-ckan-local-dataset-sidebox-disabled .cmb2-metabox-description {
  color: #444;
  font-style: normal;
}

/* CKAN Synchronized field */
.ckan-synced {
  margin: 0;
  color: #fff;
  padding: 5px;

  &.success {
    background-color: #00A200;
  }
  &.error {
    background-color: #cc0000;
    padding: 5px;
  }
}

/* Harvester Dashboar */
.harvester_dashboard {
  .inside {
    padding-bottom: 0;
  }
  h4 {
    cursor: pointer;
  }
  .actions {
    margin: 10px 0;
  }
  .button.delete {
    color: #fff;
    background: #d23900;
    border-color: #aa1200;
    -webkit-box-shadow: inset 0 1px 0 rgba(230, 55, 70, 0.5), 0 1px 0 rgba( 0, 0, 0, 0.15 );
    box-shadow: inset 0 1px 0 rgba( 230, 55, 70, 0.5 ), 0 1px 0 rgba( 0, 0, 0, 0.15 );
  }
  .ui-accordion-header-icon {
    margin-right: 8px;
  }
  .table-small {
    border-collapse: collapse;
    width: 100%;

    tr:nth-child(even) {
      background: #fff;
    }
    tr:nth-child(odd) {
      background: #eee;
    }
    th {
      vertical-align: top;
      text-align: left;
      width: 100px;
      line-height: 1.3;
      font-weight: 600;
    }
    th, td {
      padding: 5px;
    }
  }
}