// Disable visibility selection from ckan posttypes
.post-type-ckan-local-dataset,
.post-type-ckan-local-group,
.post-type-ckan-local-org {
  .submitbox {
    // hide preview button and visibility settings
    #visibility, #preview-action {
      display: none;
    }
  }
}

#cmb2-metabox-ckan-local-dataset-sidebox-disabled .cmb2-metabox-description {
  color: #444;
  font-style: normal;
}

.post-type-ckan-local-group,
.post-type-ckan-local-org {
  // hide publishing settings
  #minor-publishing {
    display: none;
  }
}